

.container-home-light{
    background-color: rgb(156, 156, 156);
    width: 100vw;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    place-items: center;
    min-height: 150vh;
    color: black;
}

.container-home-black{
    background-color: rgb(14, 3, 11);
    width: 100vw;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    place-items: center;
    min-height: 150vh;
    color: rgb(255, 255, 255);
}