.container-boton-light {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 20px;
  border-radius: 100px;
  font-weight: 600;
  color: #050000;
  box-shadow: 0 0 0 2px #000000;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
}
.container-boton-black {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 20px;
  border-radius: 100px;
  font-weight: 600;
  color: #ffffff;
  box-shadow: 0 0 0 2px #ffffff;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
}

.container-boton-light:hover {
    box-shadow: 0 0 0 5px #2195f3d4;
    color: #2195f3d4;
}
.container-boton-black:hover {
  box-shadow: 0 0 0 5px #2195f3d4;
  color: #2195f3d4;
}
